/*!
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */
@import url('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');

.movie-input-form {
    padding: 20px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input.invalid {
    border-color : #DD2C00;
}

 .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}

.alert {
    padding: 15px 20px 15px 20px;
}


#addition {
    padding: 20px;
    margin: 10px 0 20px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#loginForm {
    padding: 20px;
    margin: 10px 0 20px;
    background-color: #EEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#mylogin {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;    
    width: 399px;
    background-color: #EEE;
    padding: 0px 0px 5px 0px;
    margin-left: auto;
    margin-right: auto;    
}

.choices {
        margin-top: -10px;
}

#footer_console
{
    float: right;    
    margin: -10px 0px 0px 0px;    
    font-size: small;
    color: gray;    
}

#top_menu1
{
    float: left;    
    margin: 0px 0px 0px 0px;    
    font-size: larger;
    color: gray;    
    background-color: white;
    padding: 8px;
}

#top_menu2
{
    float: left;    
    margin: 0px 0px 0px 0px;    
    font-size: larger;
    color: gray;    
    background-color: #f1f1f1;
    padding: 8px;
}

#top_menu3
{
    float: left;    
    margin: 0px 0px 0px 0px;    
    font-size: larger;
    color: gray;    
    background-color: #f1f1f1;
   
    padding: 8px;
}

h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
} 

